<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
</head>
<header>
</header>
<body>
        <div class="info center">
                <h1 class="title">Are you sure this city exists?</h1>
                <h5>Try a different name!</h5>
                <form method="POST">
                        <input type="text" name="city" placeholder="City"><br>
                        <input type="submit" value="Go"><br>
                </form>
        </div>
</body>
<footer>
</footer>
</html>